html {
    overflow-y:scroll;
}

.form {
    border:1px solid #A9A9A9; 
    padding:10px 20px 10px 20px;
    margin:10px;
    background-color:#D3D3D3;
    width: 600;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#inMiddle {
    width: 600;
    margin-left: auto;
    margin-right: auto;
}

.square {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    border:1px solid #A9A9A9; 
    padding:10px 20px 10px 20px;
    background-color:#B0B0B0;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.square a {
    color: #000000;
    text-decoration: none;
}

.square a:hover {
    color: #000000;
    text-decoration: underline;
}

#historyLine {
    padding:2px 20px 2px 20px;
}

h1 {
    font-size:18px;
    color:#606060;
    text-align:center;
}

h2 {
    font-size:16px;
    color:#505050;
    margin-left: 50px;
}

#ip {
    text-align: center;
}

#port {
    text-align: center;
}

#periode {
    text-align: center;
}

#echelle {
    text-align: center;
}

#form_id {
    margin-left: 6px;
    color:#505050;
}

.logo {
    float:right;
    margin:5px;
}

.centered {
    text-align: center;
}

.moreButton {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    border:1px solid #A9A9A9; 
    padding:2px 2px 2px 0px;
    background-color:#B0B0B0;
    text-align: center;
    width: 140px;
    display:inline-block;
}

.moreButton a{
    color: #505050;
    text-decoration: none;
}

div#moreButtonDiv {
    display:inline-block;
    text-align: center;
}

.historyButtons {
    margin: auto;
}

#connectionLog {
    display: none;
}

p.ok {
    border:1px solid #44FF44; 
    background-color: #99FF99;
    padding:2px 2px 2px 2px;
}

p.ko {
    border:1px solid #CC0000; 
    background-color:#FF8080;
    padding:2px 2px 2px 2px;
}

#connectionLogButton {
    margin-top: 10px;
}

div#topnav{
    padding:4px;
    text-align:center;
    border-bottom:1px solid #A9A9A9;
    border-top:1px solid #A9A9A9;
}

div#topnav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

div#topnav ul li{
    display:inline;
    padding:4px;
}

div#topnav ul li a{
    display:inline;
    text-decoration: none;
    padding:4px;
    font-weight:bold;
    color:#606060;
}

div#topnav ul li a:hover{
    color:#FF4040;
}

.warning {
    border:1px solid #CC0000; 
    background-color:#FF8080;
    padding:10px 20px 10px 20px;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    width: 600;
    color: #505050;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.warning a {
    text-decoration: none;
    color: #505050;
}

.warning a:hover {
    color: yellow;
}

.xv {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    border:1px solid #A9A9A9; 
    background-color:white;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

#xPos {
    display:inline-block;
}

#yPos {
    display:inline-block;
}

#thetaPos {
    display:inline-block;
}

#position {
    margin-bottom: 10px;
}

#form_id {
    margin-top: 5px;
}

.gray {
    color:#505050;
}


#fullHistory {
    display: none;
}

#response {
    display: none;
}

#loading_img {
    margin-top: 100px;
    margin-left: 290px;
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
}

.error_404 {
    color:#505050;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
}

#webcam {
    width: 650px;
    text-align:center;
}

.webcam_img {
    padding: 0px;
    margin: 0px;
    border:1px solid #A9A9A9; 
    -moz-border-radius: 15px;
    border-radius: 15px;
}
