.form {
    border:1px solid #A9A9A9; 
    padding:10px 20px 10px 20px;
    margin:10px;
    background-color:#D3D3D3;
    margin-left: auto;
    margin-right: auto;
    width: 600;
}

.square {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    border:1px solid #A9A9A9; 
    padding:10px 20px 10px 20px;
    background-color:#B0B0B0;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.square a {
    color: #000000;
    text-decoration: none;
}

.square a:hover {
    color: #000000;
    text-decoration: underline;
}

#historyLine {
    padding:2px 20px 2px 20px;
}

h1 {
    font-size:18px;
    color:#606060;
    text-align:center;
}

h2 {
    font-size:16px;
    color:#505050;
    margin-left: 50px;
}

#ip {
    text-align: center;
}

#port {
    text-align: center;
}

#form_id {
    margin-left: 6px;
    color:#505050;
}

.logo {
    float:right;
    margin:5px;
}

.centered {
    text-align: center;
}

.moreButton {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    border:1px solid #A9A9A9; 
    padding:2px 2px 2px 0px;
    background-color:#B0B0B0;
    text-align: center;
    width: 140px;
    display:inline-block;
    margin: 0 0 0 100px;
}

.moreButton a{
    color: #505050;
    text-decoration: none;
}

div#moreButtonDiv {
    display:inline-block;
    text-align: center;
}

.historyButtons {
    margin: auto;
}

#connectionLog {
    display: none;
    position: relative;
    margin: 0 auto;
    margin-left:auto;
    margin-right:auto;
}

p.ok {
    border:1px solid #44FF44; 
    background-color: #99FF99;
    padding:2px 2px 2px 2px;
}

p.ko {
    border:1px solid #CC0000; 
    background-color:#FF8080;
    padding:2px 2px 2px 2px;
}

#connectionLogButton {
    margin-top: 10px;
}